<div class="agregar-empresa"> 

    <div class="container-empresa">
        <h1>Nueva Empresa</h1>
    
        <div class="datos-izq">
            <span class="p-float-label">
                <input pInputText id="username" [(ngModel)]="empresa.nombre" />
                <label htmlFor="username">Username</label>
            </span>
    
            <span class="p-float-label">
                <input pInputText id="username" [(ngModel)]="empresa.telefono" />
                <label htmlFor="username">Telefono</label>
            </span>
        </div>

        <div class="datos-der">
            <span class="p-float-label">
                <input pInputText id="username" [(ngModel)]="empresa.direccion" />
                <label htmlFor="username">Direccion</label>
            </span>
        </div>


    
        <div class="btn-guardar">
            <p-button (onClick)="guardarEmpresa()" label="Guardar" [outlined]="true"></p-button>
        </div>
        
    
    </div>

    

</div>

