<div class="agregar-departamento">

    <div class="container-departamento">

        <h1>Nuevo Departamento</h1>
    
        <div class="datos-izq">
            <span class="p-float-label">
                <p-autoComplete (completeMethod)="search($event)" inputId="nombre-label"></p-autoComplete>
                <label for="nombre-label">Nombre</label>
            </span>
            <span class="p-float-label">
                <p-autoComplete (completeMethod)="search($event)" inputId="telefono-label"></p-autoComplete>
                <label for="telefono-label">Telefono</label>
            </span>
            <span class="p-float-label">
                <p-autoComplete (completeMethod)="search($event)" inputId="descripcion-label"></p-autoComplete>
                <label for="descripcion-label">Descripcción</label>
            </span>
        </div>

        <div class="datos-der">
            
            <p-scroller [items]="listEmpresas" [itemSize]="50" styleClass="border-1 surface-border" [style]="{'width': '200px', 'height': '200px'}">
                <ng-template pTemplate="item" let-item let-options="options">
                    <div class="flex align-items-center p-2 item-scroll" [ngClass]="{ 'surface-ground': options.odd }" >{{ item }}</div>
                </ng-template>
            </p-scroller>
            
        </div>
        
        <div class="btn-guardar">
            <p-button label="Guardar" [outlined]="true"></p-button>
        </div>    
        
    
    </div>

</div>

