
<style>




</style>



<!-- Toolbar -->
<header>
    <div  [routerLink]="['/menu']" class="toolbar" role="banner">
      <img
        width="200"
        alt="Angular Logo"
        src="../assets/logo_iess.png"
      />
      

 

        <div class="spacer">
          <p-button (click)="sidebarVisible = true" icon="pi pi-chevron-right"></p-button>
        </div>

      
        <p-button *ngIf=!isAuthenticated class="btn-log-in" (click)="toggleAuthentication()" label="Entrar" icon="pi pi-sign-in" ></p-button>
        <p-button *ngIf=isAuthenticated class="btn-log-in" (click)="toggleAuthentication()" label="Salir" icon="pi pi-sign-out " >{{userFullName}}</p-button>



    </div>

</header>


<div class="content" role="main">
  <p-sidebar [(visible)]="sidebarVisible">

    
      <ng-template pTemplate="header">
        <p-button class="menu-botones" (click)="inicio()">Inicio</p-button>

      </ng-template>
      
      <ng-template pTemplate="content">
        <div class="barra-lateral-botones">
          <p-button class="menu-botones" (click)="listarEmpresas()">Empresas</p-button>
          <p-button class="menu-botones" (click)="listarEmpleado()">Empleados</p-button>
          <p-button class="menu-botones" (click)="listarDepartamento()">Departamentos</p-button>
        </div>
        
      
      </ng-template>
      <ng-template pTemplate="footer">Footer Content</ng-template>
      
  </p-sidebar>

  <div class="contenido">

    <router-outlet ></router-outlet>

  </div>


</div>





  



