<div>
  <div class="contenedor">


            

    <div class="caja-btn">
        <div [routerLink]="['/empresa_lista']" class="btn-redondeado btn-redondeado-empresa" >
            <img src="https://images.vexels.com/media/users/3/144883/isolated/preview/09a503901819e475a3c352ddd3e528b3-carrera-de-construccion-de-la-empresa.png    " alt="">
        </div>
        <p>Empresa</p>
    </div>

    
    <div class="caja-btn">
        <div [routerLink]="['/departamento_lista']" class="btn-redondeado btn-redondeado-departamento">
            <img src="https://cdn-icons-png.flaticon.com/512/585/585512.png" alt="">
        </div>
            <p>Departamento</p>

    </div>
           

    <div class="caja-btn">
        <div [routerLink]="['/empleado_lista']" class="btn-redondeado btn-redondeado-empleado">
            <img src="https://cdn-icons-png.flaticon.com/512/2942/2942291.png" alt="">
        </div>
            <p>Empleado</p>
    </div>     


  </div>
   



</div>
